.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F8F8;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: auto;
  background-color: #D5DDDE;
  padding: 10px;
  -webkit-box-shadow: 0 5px 15px -5px #888;
    box-shadow: 0 5px 15px -5px #888;  
}

.card-content {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 20px;
}

.divider-red {
  width: 700px;
  height: 1px;
  background-color: #D92119;
  margin: 50px 0;
}

.divider-grey {
  width: 400px;
  height: 1px;
  background-color: #D5DDDE;
  margin: 40px auto 40px auto;
}

.entry {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  color: #FFA601;
  height: 40px;
  width: 700px;
  background-color: #496468;
  padding: 10px;
  text-transform: uppercase;
}

.hours-and-button {
  display: flex;  
  margin-top: auto;
  margin-bottom: auto;
}

.top-text-project {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}

.hours {
  margin-top: auto;
  margin-bottom: auto;
  font-style: italic;
}
.btn {
  font-size: 16px;
  font-style: normal;
  margin-left: 10px;
  font-weight: bold;
}

.description {
  display: flex;
}

.description-left {
  width: 110px;
  text-align: right;
  padding: 10px;
  font-size: 16px;
}
.description-right {
  width: 550px;
  padding: 10px;
}
